# <center> **AI Techniques and Tools Subject**

<center>
 <div style="background-color:#FFDD57; padding:10px; border-radius:6px;">
  <h2><strong>Axis 3: Research and analysis of data driven by AI (24 hours)</strong></h2>
</div>   
</center>

**Axis III** focuses on data acquisition, processing, and analysis using artificial intelligence (AI) tools. The objective is to master the fundamental steps of modeling and interpreting results through modern mathematical and algorithmic approaches.

## <span style="color:blue"> **2-	Data preprocessing and cleaning (3 hours)**</span>
- **Objective:** Clean, correct, and transform data to guarantee the quality, consistency, and robustness of analyses and predictive models..
- **Tools:** <span style="color:blue">*Pandas, NumPy, Scikit-learn ( preprocessing ), OpenRefine ( optional )*</span>

- **Detailed content:**

- <span style="color:magenta">*Rename a colum*</span>
- <span style="color:magenta">*Missing Value Detection*</span>
- <span style="color:magenta">*Localization of NaNs by column or row*</span>

#### <span style="color:green"> **2.1-	Missing Value Detection**</span>

In [1]:
# import libraries
import pandas as pd

In [2]:
df_csv = pd.read_csv ( 'cars.csv' )
#df_excel = pd.read_excel ( 'data.xlsx' )
#df_json = pd.read_json ( 'data.json' )

df = df_csv

df.head() 	# first 5 lines

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [3]:
# Rename 'Unnamed: 0' to 'index'
df.rename(columns={'Unnamed: 0': 'index'}, inplace=True)

# Display the first rows to confirm
df.head() 	# first 5 lines

,index,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

**Count missing (null) values per column:**

In [4]:
nb = df.isnull().sum()
print(nb)

df [df.isnull().any (axis = 1)]

index                0
car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
price                0
dtype: int64

Empty DataFrame
Columns: [index, car_name, brand, model, vehicle_age, km_driven, seller_type, fuel_type, transmission_type, mileage, engine, max_power, seats, price]
Index: []

#### <span style="color:green"> **2.2-	add a new row to the end of a DataFrame in Python (Pandas)**</span>

##### ✅ Method 1 – Using **loc** (Simple and clear):

- This directly inserts a new row at the end of the **DataFrame**.
- **len(df)** ensures the new row is added at the next available index.

In [5]:
df.loc[len(df)] = {
    'index': len(df),
    'car_name': 'Test Car',
    'brand': 'TestBrand',
    'model': 'ModelX',
    'vehicle_age': 2,
    'km_driven': 15000,
    'seller_type': 'Individual',
    'fuel_type': 'Petrol',
    'transmission_type': 'Automatic',
    'mileage': 20.0,
    'engine': 1500,
    'max_power': 100.0,
    'seats': 5,
    'price': 500000
}

In [6]:
df.tail() 	# first 5 lines

,index,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,price
15407,19540,Maruti Ertiga,Maruti,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7,925000
15408,19541,Skoda Rapid,Skoda,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5,425000
15409,19542,Mahindra XUV500,Mahindra,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000
15410,19543,Honda City,Honda,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000
15411,15411,Test Car,TestBrand,ModelX,2,15000,Individual,Petrol,Automatic,20.00,1500,100.00,5,500000

##### ✅ Method 2 – Using pd.concat() (more formal):

- **ignore_index=Tru**e resets the row index to keep it continuous.

In [7]:
new_row = pd.DataFrame([{
    'index': len(df),
    'car_name': 'Test Car 2',
    'brand': 'TestBrand',
    'model': 'ModelX',
    'vehicle_age': 2,
    'km_driven': 15000,
    'seller_type': 'Individual',
    'fuel_type': 'Petrol',
    'transmission_type': 'Automatic',
    'mileage': 20.0,
    'engine': 1500,
    'max_power': 100.0,
    'seats': 5,
    'price': 500000
}])

df = pd.concat([df, new_row], ignore_index=True)

In [8]:
df.tail() 	# first 5 lines

,index,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,price
15408,19541,Skoda Rapid,Skoda,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5,425000
15409,19542,Mahindra XUV500,Mahindra,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000
15410,19543,Honda City,Honda,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000
15411,15411,Test Car,TestBrand,ModelX,2,15000,Individual,Petrol,Automatic,20.00,1500,100.00,5,500000
15412,15412,Test Car 2,TestBrand,ModelX,2,15000,Individual,Petrol,Automatic,20.00,1500,100.00,5,500000

##### ✅ Add 3 empty rows (with NaN fields):

- Adds 3 rows with only the 'index' field filled automatically.
- All other fields are set to **NaN** (null/missing).
- **ignore_index=True** keeps the index consistent.

In [9]:
import numpy as np
import pandas as pd

# Create 3 empty rows with all columns set to NaN (except optional 'index')
empty_rows = pd.DataFrame([{
    'index': len(df) + i,
    'car_name': np.nan,
    'brand': np.nan,
    'model': np.nan,
    'vehicle_age': np.nan,
    'km_driven': np.nan,
    'seller_type': np.nan,
    'fuel_type': np.nan,
    'transmission_type': np.nan,
    'mileage': np.nan,
    'engine': np.nan,
    'max_power': np.nan,
    'seats': np.nan,
    'price': np.nan
} for i in range(3)])

# Append to the existing DataFrame
df = pd.concat([df, empty_rows], ignore_index=True)

# Show the updated DataFrame
print(df.tail(5))  # Show last 5 rows including the 3 new ones

       index    car_name      brand   model  vehicle_age  km_driven  \
15411  15411    Test Car  TestBrand  ModelX          2.0    15000.0
15412  15412  Test Car 2  TestBrand  ModelX          2.0    15000.0
15413  15413         NaN        NaN     NaN          NaN        NaN
15414  15414         NaN        NaN     NaN          NaN        NaN
15415  15415         NaN        NaN     NaN          NaN        NaN

      seller_type fuel_type transmission_type  mileage  engine  max_power  \
15411  Individual    Petrol         Automatic     20.0  1500.0      100.0
15412  Individual    Petrol         Automatic     20.0  1500.0      100.0
15413         NaN       NaN               NaN      NaN     NaN        NaN
15414         NaN       NaN               NaN      NaN     NaN        NaN
15415         NaN       NaN               NaN      NaN     NaN        NaN

       seats     price
15411    5.0  500000.0
15412    5.0  500000.0
15413    NaN       NaN
15414    NaN       NaN
15415    NaN       NaN

**Count missing (null) values per column:**

In [10]:
nb = df.isnull().sum()
print(nb)

df [df.isnull().any (axis = 1)]

index                0
car_name             3
brand                3
model                3
vehicle_age          3
km_driven            3
seller_type          3
fuel_type            3
transmission_type    3
mileage              3
engine               3
max_power            3
seats                3
price                3
dtype: int64

,index,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,price
15413,15413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15414,15414,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15415,15415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### <span style="color:green"> **2.3-	Handling missing values**</span>
##### *Filling (imputation) by **mean**, **median**, constant, or **advanced method**:*

In [11]:
df [ 'vehicle_age' ] = df [ 'vehicle_age' ]. fillna ( df [ 'vehicle_age' ]. mean() )
df ['car_name'] = df [ 'car_name' ]. fillna ( 'Unknown' )
df = df . ffill ()  			# forward fill
df = df . bfill ()  			# backward fill

In [12]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer ( strategy = 'median' )
df [['price']] = imputer.fit_transform (df[['price']])

✅ **1. Filling missing values with the mean (for numeric columns)**

In [13]:
df['vehicle_age'] = df['vehicle_age'].fillna(df['vehicle_age'].mean())

df.tail(5)  # Show last 5 rows

,index,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,price
15411,15411,Test Car,TestBrand,ModelX,2.000000,15000.0,Individual,Petrol,Automatic,20.0,1500.0,100.0,5.0,500000.0
15412,15412,Test Car 2,TestBrand,ModelX,2.000000,15000.0,Individual,Petrol,Automatic,20.0,1500.0,100.0,5.0,500000.0
15413,15413,Unknown,TestBrand,ModelX,6.035814,15000.0,Individual,Petrol,Automatic,20.0,1500.0,100.0,5.0,500000.0
15414,15414,Unknown,TestBrand,ModelX,6.035814,15000.0,Individual,Petrol,Automatic,20.0,1500.0,100.0,5.0,500000.0
15415,15415,Unknown,TestBrand,ModelX,6.035814,15000.0,Individual,Petrol,Automatic,20.0,1500.0,100.0,5.0,500000.0

✅ **2. Filling with a constant value (for categorical or string columns)**

In [14]:
df['car_name'] = df['car_name'].fillna('Unknown')

df.tail(5)  # Show last 5 rows

,index,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,price
15411,15411,Test Car,TestBrand,ModelX,2.000000,15000.0,Individual,Petrol,Automatic,20.0,1500.0,100.0,5.0,500000.0
15412,15412,Test Car 2,TestBrand,ModelX,2.000000,15000.0,Individual,Petrol,Automatic,20.0,1500.0,100.0,5.0,500000.0
15413,15413,Unknown,TestBrand,ModelX,6.035814,15000.0,Individual,Petrol,Automatic,20.0,1500.0,100.0,5.0,500000.0
15414,15414,Unknown,TestBrand,ModelX,6.035814,15000.0,Individual,Petrol,Automatic,20.0,1500.0,100.0,5.0,500000.0
15415,15415,Unknown,TestBrand,ModelX,6.035814,15000.0,Individual,Petrol,Automatic,20.0,1500.0,100.0,5.0,500000.0

✅ **3. Forward Fill (ffill)**

In [15]:
df = df.ffill()

df.tail(5)  # Show last 5 rows

,index,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,price
15411,15411,Test Car,TestBrand,ModelX,2.000000,15000.0,Individual,Petrol,Automatic,20.0,1500.0,100.0,5.0,500000.0
15412,15412,Test Car 2,TestBrand,ModelX,2.000000,15000.0,Individual,Petrol,Automatic,20.0,1500.0,100.0,5.0,500000.0
15413,15413,Unknown,TestBrand,ModelX,6.035814,15000.0,Individual,Petrol,Automatic,20.0,1500.0,100.0,5.0,500000.0
15414,15414,Unknown,TestBrand,ModelX,6.035814,15000.0,Individual,Petrol,Automatic,20.0,1500.0,100.0,5.0,500000.0
15415,15415,Unknown,TestBrand,ModelX,6.035814,15000.0,Individual,Petrol,Automatic,20.0,1500.0,100.0,5.0,500000.0

✅ **4. Backward Fill (bfill)**

In [16]:
df = df.bfill()

df.tail(5)  # Show last 5 rows

,index,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,price
15411,15411,Test Car,TestBrand,ModelX,2.000000,15000.0,Individual,Petrol,Automatic,20.0,1500.0,100.0,5.0,500000.0
15412,15412,Test Car 2,TestBrand,ModelX,2.000000,15000.0,Individual,Petrol,Automatic,20.0,1500.0,100.0,5.0,500000.0
15413,15413,Unknown,TestBrand,ModelX,6.035814,15000.0,Individual,Petrol,Automatic,20.0,1500.0,100.0,5.0,500000.0
15414,15414,Unknown,TestBrand,ModelX,6.035814,15000.0,Individual,Petrol,Automatic,20.0,1500.0,100.0,5.0,500000.0
15415,15415,Unknown,TestBrand,ModelX,6.035814,15000.0,Individual,Petrol,Automatic,20.0,1500.0,100.0,5.0,500000.0

✅ **5. Advanced: Using scikit-learn’s SimpleImputer (e.g. with median)**

In [17]:
from sklearn.impute import SimpleImputer

# Make sure the column name has no spaces
imputer = SimpleImputer(strategy='median')
df[['price']] = imputer.fit_transform(df[['price']])

df.tail(5)  # Show last 5 rows

,index,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,price
15411,15411,Test Car,TestBrand,ModelX,2.000000,15000.0,Individual,Petrol,Automatic,20.0,1500.0,100.0,5.0,500000.0
15412,15412,Test Car 2,TestBrand,ModelX,2.000000,15000.0,Individual,Petrol,Automatic,20.0,1500.0,100.0,5.0,500000.0
15413,15413,Unknown,TestBrand,ModelX,6.035814,15000.0,Individual,Petrol,Automatic,20.0,1500.0,100.0,5.0,500000.0
15414,15414,Unknown,TestBrand,ModelX,6.035814,15000.0,Individual,Petrol,Automatic,20.0,1500.0,100.0,5.0,500000.0
15415,15415,Unknown,TestBrand,ModelX,6.035814,15000.0,Individual,Petrol,Automatic,20.0,1500.0,100.0,5.0,500000.0

✅ **6. Handling NaN Values with Conditional Replacement (loc method)**

##### **✏️ 1. Detect NaNs**

In [18]:
df.isnull().sum()                  # Count of NaNs per column
df[df['price'].isnull()]    # Rows where a specific column is NaN

Empty DataFrame
Columns: [index, car_name, brand, model, vehicle_age, km_driven, seller_type, fuel_type, transmission_type, mileage, engine, max_power, seats, price]
Index: []

##### **✏️ 2. Replace only if the value is NaN**

In [19]:
# ▶ String column: fill with constant value (e.g., "Unknown")
df.loc[df['car_name'].isnull(), 'car_name'] = 'Unknown'

In [20]:
# ▶ Numeric column: fill with mean, median, etc.
df.loc[df['vehicle_age'].isnull(), 'vehicle_age'] = df['vehicle_age'].mean()

In [21]:
# ▶ Custom condition: fill NaN based on another column
df.loc[(df['price'].isnull()) & (df['brand'] == 'Toyota'), 'price'] = 250000

✅ **7. Multiple columns example**

In [22]:
df.loc[df['model'].isnull(), 'model'] = 'Standard'
df.loc[df['mileage'].isnull(), 'mileage'] = df['mileage'].median()

✅ **8. Final check:**

In [23]:
print(df.isnull().sum())  # Confirm all missing values are handled

index                0
car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
price                0
dtype: int64

**📝 Summary Table**

| Method           | Use Case                   | Code Example                       |
| ---------------- | -------------------------- | ---------------------------------- |
| Mean/Median Fill | Numeric columns            | `fillna(df[col].mean())`           |
| Constant Fill    | Categorical/text columns   | `fillna("Unknown")`                |
| Forward Fill     | Time series / ordered data | `df.ffill()`                       |
| Backward Fill    | Time series / ordered data | `df.bfill()`                       |
| SimpleImputer    | Machine learning pipelines | `SimpleImputer(strategy='median')` |

#### <span style="color:green"> **2.4-	Outlier detection**</span>

##### <span style="color:red"> *Interquartile range (IQR) method*</span>

In [24]:
Q1 = df [ 'price' ]. quantile ( 0.25 )
Q3 = df [ 'price' ]. quantile ( 0.75 )
IQR = Q3 - Q1
outliers = df [( df [ 'price' ] < Q1 - 1.5 * IQR ) | ( df [ 'price' ] > Q3 + 1.5 * IQR )]

In [25]:
outliers

,index,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,price
12,16,Mini Cooper,Mini,Cooper,4.0,6000.0,Dealer,Petrol,Automatic,14.41,1998.0,189.08,5.0,3250000.0
58,80,Mahindra XUV500,Mahindra,XUV500,3.0,21500.0,Individual,Diesel,Automatic,15.10,2179.0,152.87,7.0,1650000.0
111,139,BMW 5,BMW,5,5.0,63000.0,Dealer,Diesel,Automatic,18.59,2993.0,261.49,5.0,2600000.0
129,164,Ford Endeavour,Ford,Endeavour,3.0,11387.0,Individual,Diesel,Automatic,10.91,3198.0,197.00,7.0,2900000.0
139,178,BMW 3,BMW,3,5.0,68000.0,Dealer,Diesel,Automatic,22.69,1995.0,190.00,5.0,2090000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15360,19481,Jeep Compass,Jeep,Compass,3.0,70000.0,Individual,Diesel,Manual,16.30,1956.0,170.00,5.0,1750000.0
15362,19484,BMW 5,BMW,5,4.0,30000.0,Dealer,Diesel,Automatic,22.48,1995.0,187.74,5.0,3975000.0
15384,19513,Mercedes-Benz E-Class,Mercedes-Benz,E-Class,3.0,25000.0,Dealer,Diesel,Automatic,10.00,2148.0,170.00,5.0,4450000.0
15392,19521,Land Rover Rover,Land Rover,Rover,5.0,128000.0,Dealer,Diesel,Automatic,12.63,2179.0,147.50,5.0,2675000.0
15397,19527,Toyota Innova,Toyota,Innova,3.0,21265.0,Individual,Diesel,Automatic,11.36,2755.0,171.50,7.0,2350000.0

##### <span style="color:red"> *Filtering by z-score*</span>

In [26]:
from scipy.stats import zscore
df [ ' zscore ' ] = zscore ( df [ 'price' ])
df [ df [' zscore ']. abs() > 3 ]

,index,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,price,zscore
285,367,Land Rover Rover,Land Rover,Rover,3.0,13000.0,Dealer,Petrol,Automatic,12.19,1997.0,237.36,4.0,7000000.0,6.963468
311,397,BMW Z4,BMW,Z4,1.0,2000.0,Dealer,Petrol,Automatic,11.29,2998.0,335.00,2.0,8250000.0,8.361728
318,405,Land Rover Rover,Land Rover,Rover,3.0,25000.0,Individual,Petrol,Automatic,9.17,2995.0,335.25,7.0,6200000.0,6.068582
323,416,BMW 6,BMW,6,3.0,30000.0,Individual,Petrol,Automatic,14.28,1998.0,254.70,4.0,5500000.0,5.285556
351,450,BMW X5,BMW,X5,2.0,19000.0,Individual,Diesel,Automatic,13.38,2993.0,265.00,5.0,7900000.0,7.970215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15189,19261,Audi A6,Audi,A6,3.0,5333.0,Dealer,Petrol,Automatic,13.53,1984.0,177.01,5.0,4595000.0,4.273215
15251,19338,Mercedes-Benz GLS,Mercedes-Benz,GLS,3.0,15000.0,Dealer,Diesel,Automatic,11.00,2987.0,258.00,7.0,8000000.0,8.082076
15287,19384,BMW 5,BMW,5,2.0,4000.0,Dealer,Diesel,Automatic,18.12,1995.0,190.00,5.0,5295000.0,5.056241
15362,19484,BMW 5,BMW,5,4.0,30000.0,Dealer,Diesel,Automatic,22.48,1995.0,187.74,5.0,3975000.0,3.579678
15384,19513,Mercedes-Benz E-Class,Mercedes-Benz,E-Class,3.0,25000.0,Dealer,Diesel,Automatic,10.00,2148.0,170.00,5.0,4450000.0,4.111017

##### <span style="color:red"> *Removing duplicates*</span>

##### *- Search and eliminate repeated lines*

In [27]:
df.duplicated().sum()
df.drop_duplicates ( inplace = True )

##### <span style="color:red"> *String cleaning*</span>

In [28]:
df ['brand'] = df ['brand'].str.strip().str.lower().str.replace('-',' ')
df ['brand'] = df ['brand'].str.normalize('NFKD')
df ['brand']

0           maruti
1          hyundai
2          hyundai
3           maruti
4             ford
           ...
15411    testbrand
15412    testbrand
15413    testbrand
15414    testbrand
15415    testbrand
Name: brand, Length: 15416, dtype: object

##### <span style="color:red"> *Standardization of data types*</span>

In [29]:
df['vehicle_age'] =  df['vehicle_age'].astype(int)
df [ 'price' ] = df [ 'price' ]. astype ( float )

##### <span style="color:red"> *Creating Derived Columns*</span>

##### *- Generate new useful variables from existing ones:*

In [30]:
df [ ' fabrication_year ' ] = 2025 - df ['vehicle_age']
df [ ' total_feul_consumption ' ] = df ['km_driven'] / df [ 'mileage' ]

df.head()

,index,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,price,zscore,fabrication_year,total_feul_consumption
0,0,Maruti Alto,maruti,Alto,9,120000.0,Individual,Petrol,Manual,19.70,796.0,46.30,5.0,120000.0,-0.732556,2016,6091.370558
1,1,Hyundai Grand,hyundai,Grand,5,20000.0,Individual,Petrol,Manual,18.90,1197.0,82.00,5.0,550000.0,-0.251555,2020,1058.201058
2,2,Hyundai i20,hyundai,i20,11,60000.0,Individual,Petrol,Manual,17.00,1197.0,80.00,5.0,215000.0,-0.626289,2014,3529.411765
3,3,Maruti Alto,maruti,Alto,9,37000.0,Individual,Petrol,Manual,20.92,998.0,67.10,5.0,226000.0,-0.613984,2016,1768.642447
4,4,Ford Ecosport,ford,Ecosport,6,30000.0,Dealer,Diesel,Manual,22.77,1498.0,98.59,5.0,570000.0,-0.229183,2019,1317.523057

##### <span style="color:red"> *Encoding of categorical variables*</span>

##### *- One-hot encoding and label encoding*

In [31]:
pd.get_dummies(df , columns=['fuel_type'])

,index,car_name,brand,model,vehicle_age,km_driven,seller_type,transmission_type,mileage,engine,...,seats,price,zscore,fabrication_year,total_feul_consumption,fuel_type_CNG,fuel_type_Diesel,fuel_type_Electric,fuel_type_LPG,fuel_type_Petrol
0,0,Maruti Alto,maruti,Alto,9,120000.0,Individual,Manual,19.70,796.0,...,5.0,120000.0,-0.732556,2016,6091.370558,False,False,False,False,True
1,1,Hyundai Grand,hyundai,Grand,5,20000.0,Individual,Manual,18.90,1197.0,...,5.0,550000.0,-0.251555,2020,1058.201058,False,False,False,False,True
2,2,Hyundai i20,hyundai,i20,11,60000.0,Individual,Manual,17.00,1197.0,...,5.0,215000.0,-0.626289,2014,3529.411765,False,False,False,False,True
3,3,Maruti Alto,maruti,Alto,9,37000.0,Individual,Manual,20.92,998.0,...,5.0,226000.0,-0.613984,2016,1768.642447,False,False,False,False,True
4,4,Ford Ecosport,ford,Ecosport,6,30000.0,Dealer,Manual,22.77,1498.0,...,5.0,570000.0,-0.229183,2019,1317.523057,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15411,15411,Test Car,testbrand,ModelX,2,15000.0,Individual,Automatic,20.00,1500.0,...,5.0,500000.0,-0.307485,2023,750.000000,False,False,False,False,True
15412,15412,Test Car 2,testbrand,ModelX,2,15000.0,Individual,Automatic,20.00,1500.0,...,5.0,500000.0,-0.307485,2023,750.000000,False,False,False,False,True
15413,15413,Unknown,testbrand,ModelX,6,15000.0,Individual,Automatic,20.00,1500.0,...,5.0,500000.0,-0.307485,2019,750.000000,False,False,False,False,True
15414,15414,Unknown,testbrand,ModelX,6,15000.0,Individual,Automatic,20.00,1500.0,...,5.0,500000.0,-0.307485,2019,750.000000,False,False,False,False,True
15415,15415,Unknown,testbrand,ModelX,6,15000.0,Individual,Automatic,20.00,1500.0,...,5.0,500000.0,-0.307485,2019,750.000000,False,False,False,False,True

In [32]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df ['transmission_type_code']= le.fit_transform (df['transmission_type'])
df

,index,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,price,zscore,fabrication_year,total_feul_consumption,transmission_type_code
0,0,Maruti Alto,maruti,Alto,9,120000.0,Individual,Petrol,Manual,19.70,796.0,46.30,5.0,120000.0,-0.732556,2016,6091.370558,1
1,1,Hyundai Grand,hyundai,Grand,5,20000.0,Individual,Petrol,Manual,18.90,1197.0,82.00,5.0,550000.0,-0.251555,2020,1058.201058,1
2,2,Hyundai i20,hyundai,i20,11,60000.0,Individual,Petrol,Manual,17.00,1197.0,80.00,5.0,215000.0,-0.626289,2014,3529.411765,1
3,3,Maruti Alto,maruti,Alto,9,37000.0,Individual,Petrol,Manual,20.92,998.0,67.10,5.0,226000.0,-0.613984,2016,1768.642447,1
4,4,Ford Ecosport,ford,Ecosport,6,30000.0,Dealer,Diesel,Manual,22.77,1498.0,98.59,5.0,570000.0,-0.229183,2019,1317.523057,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15411,15411,Test Car,testbrand,ModelX,2,15000.0,Individual,Petrol,Automatic,20.00,1500.0,100.00,5.0,500000.0,-0.307485,2023,750.000000,0
15412,15412,Test Car 2,testbrand,ModelX,2,15000.0,Individual,Petrol,Automatic,20.00,1500.0,100.00,5.0,500000.0,-0.307485,2023,750.000000,0
15413,15413,Unknown,testbrand,ModelX,6,15000.0,Individual,Petrol,Automatic,20.00,1500.0,100.00,5.0,500000.0,-0.307485,2019,750.000000,0
15414,15414,Unknown,testbrand,ModelX,6,15000.0,Individual,Petrol,Automatic,20.00,1500.0,100.00,5.0,500000.0,-0.307485,2019,750.000000,0
15415,15415,Unknown,testbrand,ModelX,6,15000.0,Individual,Petrol,Automatic,20.00,1500.0,100.00,5.0,500000.0,-0.307485,2019,750.000000,0

##### <span style="color:red"> *Normalization and standardization*</span>

##### *- Scaling for sensitive models (KNN, linear regression, etc.)*

In [33]:
from sklearn.preprocessing import MinMaxScaler , StandardScaler
#MinMaxScaler().fit_transform(df[['price']])
StandardScaler().fit_transform(df[['price']])

array([[-0.7325563 ],
       [-0.25155477],
       [-0.62628852],
       ...,
       [-0.30748518],
       [-0.30748518],
       [-0.30748518]])

##### <span style="color:red"> *Detecting business inconsistencies*</span>

##### *- Example: a km driven less than 100000 kg or an vehicle_age greater than 15 years*

In [34]:
df[df['km_driven']<100000]
#df[df['vehicle_age']> 15 ]

,index,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,price,zscore,fabrication_year,total_feul_consumption,transmission_type_code
1,1,Hyundai Grand,hyundai,Grand,5,20000.0,Individual,Petrol,Manual,18.90,1197.0,82.00,5.0,550000.0,-0.251555,2020,1058.201058,1
2,2,Hyundai i20,hyundai,i20,11,60000.0,Individual,Petrol,Manual,17.00,1197.0,80.00,5.0,215000.0,-0.626289,2014,3529.411765,1
3,3,Maruti Alto,maruti,Alto,9,37000.0,Individual,Petrol,Manual,20.92,998.0,67.10,5.0,226000.0,-0.613984,2016,1768.642447,1
4,4,Ford Ecosport,ford,Ecosport,6,30000.0,Dealer,Diesel,Manual,22.77,1498.0,98.59,5.0,570000.0,-0.229183,2019,1317.523057,1
5,5,Maruti Wagon R,maruti,Wagon R,8,35000.0,Individual,Petrol,Manual,18.90,998.0,67.10,5.0,350000.0,-0.475276,2017,1851.851852,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15411,15411,Test Car,testbrand,ModelX,2,15000.0,Individual,Petrol,Automatic,20.00,1500.0,100.00,5.0,500000.0,-0.307485,2023,750.000000,0
15412,15412,Test Car 2,testbrand,ModelX,2,15000.0,Individual,Petrol,Automatic,20.00,1500.0,100.00,5.0,500000.0,-0.307485,2023,750.000000,0
15413,15413,Unknown,testbrand,ModelX,6,15000.0,Individual,Petrol,Automatic,20.00,1500.0,100.00,5.0,500000.0,-0.307485,2019,750.000000,0
15414,15414,Unknown,testbrand,ModelX,6,15000.0,Individual,Petrol,Automatic,20.00,1500.0,100.00,5.0,500000.0,-0.307485,2019,750.000000,0
15415,15415,Unknown,testbrand,ModelX,6,15000.0,Individual,Petrol,Automatic,20.00,1500.0,100.00,5.0,500000.0,-0.307485,2019,750.000000,0

# <span style="color:magenta"> **🧪 Practical Workshop :** </span>
- **Handle missing values and outliers**
- **Clean and standardize text data**
- **Create features through transformation and encoding**

#### <span style="color:blue"> **Task 1️⃣ – Identify and Handle Missing Values**</span>

In [ ]:
# Load the dataset
import pandas as pd
import numpy as np
df = pd.read_csv("cars.csv")

# Check for missing values
df.isnull().sum()

#### 🔍 Questions:
- *Which columns have missing values and how many?*
- *What percentage of each column is missing?*
- *Visualize missing data using a heatmap (hint: use seaborn.heatmap with .isnull())*
- *Fill missing mileage values with the median — why median over mean?*
- *Drop rows where price is missing — is this the right approach? Why?*
- *For categorical columns (e.g., fuel_type), fill missing with mode*
- *Create an indicator column "had_missing_mileage" before filling*
- *Use forward fill (.ffill()) on the sorted DataFrame — when is this appropriate?*
- *Compare mean price before and after handling missing values*
- *Would KNN imputation be better for this dataset? Why or why not?*

#### <span style="color:blue"> **Task 2️⃣ – Detect and Handle Outliers**</span>

In [ ]:
# Detect outliers using IQR method
Q1 = df["price"].quantile(0.25)
Q3 = df["price"].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df["price"] < lower_bound) | (df["price"] > upper_bound)]
print(f"Number of outliers: {len(outliers)}")
outliers.head()

#### 🔍 Questions:
- *How many price outliers did you detect using the IQR method?*
- *Create a boxplot to visualize price outliers*
- *Use z-score (> 3 or < -3) to detect outliers in km_driven*
- *Are these true outliers or luxury/rare vehicles? How can you tell?*
- *Cap outliers at the upper_bound instead of removing them*
- *Detect multivariate outliers using multiple columns (e.g., price + km_driven)*
- *What percentage of data would you lose if you removed all outliers?*
- *Create a "is_outlier" flag column without removing data*
- *Compare mean vs median price with and without outliers*
- *For which columns would you NOT remove outliers? Why?*

#### <span style="color:blue"> **Task 3️⃣ – Clean and Standardize Text Columns**</span>

In [ ]:
# Standardize brand names (convert to lowercase, strip whitespace)
df["brand_clean"] = df["brand"].str.lower().str.strip()

# Check for inconsistencies
print("Original unique brands:", df["brand"].nunique())
print("Cleaned unique brands:", df["brand_clean"].nunique())

df["brand_clean"].value_counts().head(10)

#### 🔍 Questions:
- *Did cleaning reduce the number of unique brands?*
- *Check for typos: find brands with similar names (e.g., "Hyundai" vs "Hyundai ")*
- *Standardize fuel_type and transmission_type columns*
- *Remove special characters from car_name using .str.replace()*
- *Create a "brand_initial" column with the first letter of the brand*
- *Use .str.contains() to find all cars with "SUV" in the name*
- *Extract the year from car_name if present (using regex)*
- *Unify casing: should you use .lower(), .upper(), or .title()? Why?*
- *Handle leading/trailing spaces in all object columns at once*
- *What other text cleaning steps might be necessary for this dataset?*

#### <span style="color:blue"> **Task 4️⃣ – Feature Engineering and Transformation**</span>

In [ ]:
# Create useful features
df["fabrication_year"] = 2025 - df["vehicle_age"]
df["total_fuel_consumption"] = df["km_driven"] / df["mileage"]

# Add age categories
df["age_category"] = pd.cut(df["vehicle_age"],
                             bins=[0, 3, 7, 15, 100],
                             labels=["New", "Recent", "Used", "Old"])

df[["vehicle_age", "fabrication_year", "age_category"]].head(10)

#### 🔍 Questions:
- *What is the distribution of cars across age categories?*
- *Create price_per_km: price divided by km_driven — what does it represent?*
- *Add a "power_efficiency" metric: max_power / mileage*
- *Create binary features: "is_diesel", "is_automatic", "is_dealer"*
- *Use pd.qcut() to create price quartiles (Q1, Q2, Q3, Q4)*
- *Extract brand category: Luxury vs Economy (based on avg price)*
- *Create interaction features: vehicle_age * km_driven*
- *Add polynomial features: vehicle_age² for non-linear relationships*
- *Which engineered features correlate most with price?*
- *Are there any features that should be log-transformed? Why?*

#### <span style="color:blue"> **Task 5️⃣ – Normalization and Encoding**</span>

In [ ]:
from sklearn.preprocessing import StandardScaler, LabelEncoder

# Normalize price using z-score
scaler = StandardScaler()
df["price_zscore"] = scaler.fit_transform(df[["price"]])

# Encode categorical variable
le = LabelEncoder()
df["transmission_encoded"] = le.fit_transform(df["transmission_type"])

df[["price", "price_zscore", "transmission_type", "transmission_encoded"]].head()

#### 🔍 Questions:
- *What is the mean and std of price_zscore? (Should be ~0 and ~1)*
- *Apply Min-Max scaling to km_driven (scale to 0-1 range)*
- *When would you use StandardScaler vs MinMaxScaler?*
- *Use pd.get_dummies() for one-hot encoding fuel_type*
- *Compare Label Encoding vs One-Hot Encoding for brand — which is better?*
- *Normalize mileage, engine, and max_power together*
- *Create target encoding: average price per brand*
- *Would you normalize categorical or only numerical features?*
- *Apply log transformation to price — visualize before and after*
- *How do you handle rare categories in encoding (e.g., brands with <5 cars)?*

#### Bonus 🧠 Advanced:
- *Build a complete preprocessing pipeline using sklearn.Pipeline*
- *Create a function that automatically detects and handles outliers*
- *Implement SMOTE for handling class imbalance (if applicable)*
- *Use ColumnTransformer to apply different preprocessing to different column types*
- *Save your cleaned dataset to a new CSV file*
- *Compare the dataset before and after cleaning — create a summary report*
- *Implement custom transformers for domain-specific cleaning*
- *Handle datetime features if you add a "sale_date" column*